sam-template/qrcode/token.txt
sam-template/qrcode/.aws-sam/build/template.yaml
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/local-sam-deployment.txt
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/README.md
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/samconfig.toml
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/template.yaml
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/events/event-get-all-items.json
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/events/event-get-by-id.json
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/events/event-post-item.json
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/src/handlers/get_all_items.py
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/src/handlers/get_by_id.py
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/src/handlers/put_item.py
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/tests/__init__.py
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/tests/requirements.txt
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/tests/integration/__init__.py
sam-template/qrcode/.aws-sam/build/getAllItemsFunction/tests/integration/test_api_gateway.py
sam-template/qrcode/.aws-sam/build/getByIdFunction/local-sam-deployment.txt
sam-template/qrcode/.aws-sam/build/getByIdFunction/README.md
sam-template/qrcode/.aws-sam/build/getByIdFunction/samconfig.toml
sam-template/qrcode/.aws-sam/build/getByIdFunction/template.yaml
sam-template/qrcode/.aws-sam/build/getByIdFunction/events/event-get-all-items.json
sam-template/qrcode/.aws-sam/build/getByIdFunction/events/event-get-by-id.json
sam-template/qrcode/.aws-sam/build/getByIdFunction/events/event-post-item.json
sam-template/qrcode/.aws-sam/build/getByIdFunction/src/handlers/get_all_items.py
sam-template/qrcode/.aws-sam/build/getByIdFunction/src/handlers/get_by_id.py
sam-template/qrcode/.aws-sam/build/getByIdFunction/src/handlers/put_item.py
sam-template/qrcode/.aws-sam/build/getByIdFunction/tests/__init__.py
sam-template/qrcode/.aws-sam/build/getByIdFunction/tests/requirements.txt
sam-template/qrcode/.aws-sam/build/getByIdFunction/tests/integration/__init__.py
sam-template/qrcode/.aws-sam/build/getByIdFunction/tests/integration/test_api_gateway.py
sam-template/qrcode/.aws-sam/build/putItemFunction/local-sam-deployment.txt
sam-template/qrcode/.aws-sam/build/putItemFunction/README.md
sam-template/qrcode/.aws-sam/build/putItemFunction/samconfig.toml
sam-template/qrcode/.aws-sam/build/putItemFunction/template.yaml
sam-template/qrcode/.aws-sam/build/putItemFunction/events/event-get-all-items.json
sam-template/qrcode/.aws-sam/build/putItemFunction/events/event-get-by-id.json
sam-template/qrcode/.aws-sam/build/putItemFunction/events/event-post-item.json
sam-template/qrcode/.aws-sam/build/putItemFunction/src/handlers/get_all_items.py
sam-template/qrcode/.aws-sam/build/putItemFunction/src/handlers/get_by_id.py
sam-template/qrcode/.aws-sam/build/putItemFunction/src/handlers/put_item.py
sam-template/qrcode/.aws-sam/build/putItemFunction/tests/__init__.py
sam-template/qrcode/.aws-sam/build/putItemFunction/tests/requirements.txt
sam-template/qrcode/.aws-sam/build/putItemFunction/tests/integration/__init__.py
sam-template/qrcode/.aws-sam/build/putItemFunction/tests/integration/test_api_gateway.py
